<div class='aboutbox'>
	<h1 style='margin-left: 20px;color:#E6B800; text-shadow: -2px 0 #470047, 0 2px #470047, 2px 0 #470047, 0 -2px #470047;'>About Origins</h1>
	<p style='margin-left: 20px;'><span style='font-size:2px'>..................................</span>The Origin of Foods is an educational website showing the spread of foods around the world across time. Watch as cultivars begin their journey in one corner of the world, dispersing over the centuries through trade, migration and natural means. <br />The maps show where the food is native, grown or popularly eaten.<br /><br /><span style='font-size:2px'>..................................</span>As the the foods spread, you may notice some common patterns related to human influence. For instance, Spanish Explorers initiated the Colombian Exchange (15th-16th Century) by introducing New World crops into the Old. Some of these foods include the potato, chilis, corn and tomatos; they are now popular all around the world. Other foods stay local- their presence abroad is only a novelty.</p>

	<h2 style='margin-left: 305px;'>A Big Thanks to our Contributers:</h2>
	<div id='thanks'></div>

	<p style='margin-left: 40px; margin-top: 25px; font-weight: bold;'>Origin of Foods is a fun weekend project created, developed and designed by Kangze Huang using Ruby on Rails.</p>
</div>